body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-color:darkslategrey;
}

.img {
  background-size: cover;
  image-resolution: 50px;
}

.main {
  text-align:left;
  display:flex;
  flex-flow: row;
  column-gap: 10px;
}

.albumTitle {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

.songList {
  font-family: Helvetica;
  padding-left: 5%;
  padding-block-end: 2%;
}

img {
  width: 500px; height: auto;
}

h1{
  font-weight: 600;

}

.header {
  color: bisque;
  width: auto;
  text-align:left;
  padding-left:50px;
  padding-right:50px;
}

.albumCard {
  border: 2px solid salmon;
  border-radius: 50px;
  padding: 15px;
  background-color: bisque;
  font-family:  Helvetica;
}

h4 {
  font-weight:300;
  font-family: Helvetica;

}


.footer {
  color: bisque;
  display: flexbox;
  flex-wrap: wrap;
  text-align:left;
  font-family:'Courier New', Courier, monospace;
  padding-left:50px;
}

.footerLinks {
  font-weight: 600;
  color:darkslategray;
  font-family: helvetica;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid;
  display: flexbox;
  flex-wrap: wrap;
  border-color:salmon;
  background-color: bisque;
}